<!doctype html>
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<header>
    <h1>{{ title }}</h1>
</header>

{% if admin %}
    text
{% endif %}

<section class="content">
    <p>This is coming from base.html</p>
    {% block content %}
    {% endblock %}
</section>