<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<div align="center" style="margin-top: 50px">
    <h1>Couldn't upload file!</h1>
    <h2>Reason: {{ reason }}</h2>
</div>
{% endblock %}
