<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
{% if username is defined %}
    {{ username }}
    {% if admin %}
        ADMIN
    {% endif %}
{% else %}
<div align="center">
    <div align="center" style="margin-top: 50px; width: 350px">
        <form method="post">
            <label style="margin-top: 10px; width:33%" for="username">Username</label>
            <input style="margin-top: 10px; width:67%" name="username" id="username" required>
            <br>
            <label style="margin-top: 10px; width:30%" for="password">Password</label>
            <input style="margin-top: 10px; width:70%" type="password" name="password" id="password" required>
            <br>
            <div align="right" >
                <input style="margin-top: 10px" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}